@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my home HomePage</h1>
    <div>
        <h2>Lê Nhật Tân - 2200004831</h2>
    </div>
        <ul>
            <li>28/10/2004</li>
            <li>tanle8455@gmail.com</li>
            <li>Play videogame</li>
        </ul>
</div>


