@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my home HomePage</h1>
    <div>
        <h2>Lê Nhật Tân - 2200004831</h2>
            <p style="font-style: italic">28/10/2004</p>
            <p style ="font-style: italic">tanle8455@gmail.com</p>
            <p style ="font-style: italic">Play videogame</p>
    </div>
</div>


